// SYNTAX TEST "source.hocon" "Comment tests"

// Line comment with double-slash
// <--- comment.line.double-slash.hocon

# Line comment with hash
// <--- comment.line.number-sign.hocon

/* block comment */
// <--- comment.block.hocon
