// SYNTAX TEST "source.hocon" "Key tests"

simple = "value"
// <------ keyword.other.key.hocon

dotted.key = "value"
// <---------- keyword.other.key.hocon

with-dash = "value"
// <--------- keyword.other.key.hocon

with/slash = "value"
// <---------- keyword.other.key.hocon

"quoted" = "value"
// <------- keyword.other.key.hocon

"key with spaces" = "value"
// <----------------- keyword.other.key.hocon

"key/with/special.chars" = "value"
// <------------------------ keyword.other.key.hocon

akka {
// <---- keyword.other.key.hocon
  loglevel = "INFO"
}
